<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>dark</string>
	<key>colors</key>
	<dict>
		<key>primary_color</key>
		<string>#4177FF</string>
		<key>text_primary_color</key>
		<string>#FFFFFF</string>
		<key>text_secondary_color</key>
		<string>#7C838E</string>
		<key>common_background_color</key>
		<string>#141414</string>
		<key>auxiliary_background_1_color</key>
		<string>#1E1E1E</string>
		<key>auxiliary_background_2_color</key>
		<string>#7CA9FF</string>
		<key>mask_color</key>
		<string>#14141480</string>
		<key>line_background_color</key>
		<string>#FFFFFF1A</string>
		<key>link_color</key>
		<string>#0047FF</string>
		<key>selected_background_color</key>
		<string>#FFFFFF14</string>
		<key>success_color</key>
		<string>#17EA61</string>
		<key>hint_color</key>
		<string>#FF5047</string>
		<key>disabled_color</key>
		<string>#D1D1D1</string>
		<key>clear_color</key>
		<string>#FFFFFF00</string>
		<key>view_background_color</key>
		<string>#232323</string>
		<key>conversation-list_background_color</key>
		<string>#14141480</string>
		<key>network_Indicator_view_bg_color</key>
		<string>#F74D434D</string>
		<key>pop_layer_background_color</key>
		<string>#323232</string>
		<key>control_title_white_color</key>
		<string>#FFFFFF</string>
		<key>highlight_color</key>
		<string>#0047FF14</string>
	</dict>
	<key>images</key>
	<dict>
		<key>conversation-list_cell_block_notification_img</key>
		<string>block_notification.png</string>
		<key>conversation-list_cell_msg_read_img</key>
		<string>message_read_status.png</string>
		<key>conversation-list_cell_pin_img</key>
		<string>conversation-list_cell_pin_img.png</string>
		<key>conversation-list_cell_msg_sending_img</key>
		<string>rc_conversation_list_msg_sending.png</string>
		<key>conversation-list_cell_robot_img</key>
		<string>conversation-list_cell_robot_img.png</string>
		<key>conversation-list_cell_msg_fail_img</key>
		<string>message_fail.png</string>
		<key>conversation-list_no_message_img</key>
		<string>no_message_img.png</string>
		<key>conversation-list_cell_portrait_img</key>
		<string>default_portrait.png</string>
		<key>conversation-list_cell_collection_portrait_img</key>
		<string>default_collection_portrait.png</string>
		<key>conversation-list_cell_discussion_collection_portrait_img</key>
		<string>default_discussion_collection_portrait.png</string>
		<key>conversation-list_cell_discussion_portrait_img</key>
		<string>default_discussion_portrait.png</string>
		<key>conversation-list_cell_group_portrait_img</key>
		<string>default_group_portrait.png</string>
		<key>conversation-list_cell_portrait_msg_img</key>
		<string>default_portrait_msg.png</string>
		<key>conversation-list_cell_portrait_kefu_img</key>
		<string>portrait_kefu.png</string>
		<key>network_unreachable_img</key>
		<string>network_fail.png</string>
		<key>conversation_plugin_item_location_img</key>
		<string>plugin_item_location.png</string>
		<key>conversation_plugin_item_location_highlighted_img</key>
		<string>plugin_item_location_highlighted.png</string>
		<key>conversation_plugin_item_picture_img</key>
		<string>plugin_item_picture.png</string>
		<key>conversation_plugin_item_picture_highlighted_img</key>
		<string>plugin_item_picture_highlighted.png</string>
		<key>conversation_plugin_item_file_img</key>
		<string>plugin_item_file.png</string>
		<key>conversation_plugin_item_file_highlighted_img</key>
		<string>plugin_item_file_highlighted.png</string>
		<key>conversation_plugin_item_card_img</key>
		<string>plugin_item_card.png</string>
		<key>conversation_plugin_item_card_highlighted_img</key>
		<string>plugin_item_card_highlighted.png</string>
		<key>conversation_plugin_item_camera_img</key>
		<string>plugin_item_camera.png</string>
		<key>conversation_plugin_item_camera_highlighted_img</key>
		<string>plugin_item_camera_highlighted.png</string>
		<key>conversation_plugin_item_destruct_img</key>
		<string>plugin_item_burn.png</string>
		<key>conversation_plugin_item_destruct_highlighted_img</key>
		<string>plugin_item_burn_highlighted.png</string>
		<key>conversation_msg_edit_cancel_img</key>
		<string>edit_cancel.png</string>
		<key>conversation_msg_edit_collapse_img</key>
		<string>edit_collapse.png</string>
		<key>conversation_msg_edit_confirm_img</key>
		<string>edit_confirm.png</string>
		<key>conversaiton_msg_edit_emoji_img</key>
		<string>edit_emoji.png</string>
		<key>conversation_msg_edit_expand_img</key>
		<string>edit_expand.png</string>
		<key>conversation_msg_edit_status_expired_img</key>
		<string>edit_status_expired.png</string>
		<key>conversation_msg_edit_retry_img</key>
		<string>edit_retry.png</string>
		<key>conversation_input_bar_voice_img</key>
		<string>inputbar_voice.png</string>
		<key>conversation_input_bar_add_img</key>
		<string>inputbar_add.png</string>
		<key>conversation_input_bar_keyboard_img</key>
		<string>inputbar_keyboard.png</string>
		<key>conversation_input_bar_emoji_img</key>
		<string>inputbar_emoji.png</string>
		<key>conversation_input_bar_pub_menu_img</key>
		<string>pub_menu.png</string>
		<key>conversation_input_bar_voice_destruct_img</key>
		<string>voice_burn.png</string>
		<key>conversation_input_bar_keyboard_destruct_img</key>
		<string>keyboard_burn.png</string>
		<key>conversation_input_bar_close_destruct_img</key>
		<string>close_burn.png</string>
		<key>conversation_input_bar_photo_destruct_img</key>
		<string>photo_burn.png</string>
		<key>conversation_input_bar_cs_switch_img</key>
		<string>custom_service_switch_to_admin.png</string>
		<key>conversation_input_bar_ps_menu_img</key>
		<string>public_serive_menu_icon.png</string>
		<key>conversation_msg_cell_fire_identify_img</key>
		<string>fire_identify.png</string>
		<key>conversation_setting_img</key>
		<string>rc_setting.png</string>
		<key>conversation_unread_button_bg_img</key>
		<string>up.png</string>
		<key>conversation_unread_button_arrow_img</key>
		<string>arrow.png</string>
		<key>conversation_mention_button_arrow_img</key>
		<string>arrow_red.png</string>
		<key>conversation_unread_button_bubble_img</key>
		<string>bubble.png</string>
		<key>navigation_bar_btn_back_img</key>
		<string>navigator_btn_back.png</string>
		<key>conversation_msg_cell_receive_voice_1_img</key>
		<string>from_voice_1.png</string>
		<key>conversation_msg_cell_receive_voice_2_img</key>
		<string>from_voice_2.png</string>
		<key>conversation_msg_cell_receive_voice_3_img</key>
		<string>from_voice_3.png</string>
		<key>conversation_msg_cell_send_voice_1_img</key>
		<string>to_voice_1.png</string>
		<key>conversation_msg_cell_send_voice_2_img</key>
		<string>to_voice_2.png</string>
		<key>conversation_msg_cell_send_voice_3_img</key>
		<string>to_voice_3.png</string>
		<key>conversation_msg_cell_voice_unread_img</key>
		<string>voice_unread.png</string>
		<key>conversation_msg_cell_receive_destruct_pic_img</key>
		<string>from_burn_picture.png</string>
		<key>conversation_msg_cell_destruct_pic_img</key>
		<string>from_burn_picture.png</string>
		<key>conversation_msg_cell_receive_destruct_video_img</key>
		<string>from_burn_video_picture.png</string>
		<key>conversation_msg_cell_destruct_video_img</key>
		<string>from_burn_video_picture.png</string>
		<key>conversation_msg_cell_cancel_img</key>
		<string>cancelButton.png</string>
		<key>conversation_msg_cell_unselect_img</key>
		<string>message_cell_unselect.png</string>
		<key>conversation_msg_cell_select_img</key>
		<string>message_cell_select.png</string>
		<key>conversation_msg_cell_receipt_img</key>
		<string>receipt.png</string>
		<key>conversation_msg_cell_emoji_delete_img</key>
		<string>emoji_btn_delete.png</string>
		<key>conversation_msg_cell_bg_from_img</key>
		<string>chat_from_bg_normal.png</string>
		<key>conversation_msg_cell_bg_to_img</key>
		<string>chat_to_bg_normal.png</string>
		<key>conversation_msg_cell_bg_white_img</key>
		<string>chat_to_bg_white.png</string>
		<key>image_preview_exclamation_img</key>
		<string>exclamation.png</string>
		<key>file_preview_forward_img</key>
		<string>forwardIcon.png</string>
		<key>combine_msg_preview_failed_img</key>
		<string>combine_failed.png</string>
		<key>emoji_tab_add_img</key>
		<string>add.png</string>
		<key>emoji_tab_face_img</key>
		<string>emoji_btn_normal.png</string>
		<key>location_map_annotation_img</key>
		<string>map_annotation.png</string>
		<key>conversation_msg_rrs_v5_unread_gray_img</key>
		<string>msg_rrs_v5_unread_gray_dark.png</string>
		<key>video_player_play_btn_img</key>
		<string>sight_play_btn.png</string>
		<key>video_player_pause_btn_img</key>
		<string>sight_pause_btn.png</string>
		<key>video_player_cancel_btn_img</key>
		<string>sight_preview_cancel.png</string>
		<key>video_player_done_btn_img</key>
		<string>sight_preview_done.png</string>
	</dict>
</dict>
</plist>
